@media (min-width: 500px 767px) {
    .batashp{
        max-width: 540px;
    }
    .imagebody{
        width: 50px;
        height: 50px;
        padding-left: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-right: 0px;
        }
    .logokecil{
        width: 50px;
        height: 50px;
        }
    /* #rounder-circle{
        border-radius: 50%!important;
        width: 50px;
    } */
    

}

body{
    background-color: #f5f5f5;
}

.padding-spon{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.padding-lebar{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.ketebalan{
    color: rgba(0,0,0,0.1);
}

.logokecil{
    position: absolute;
    z-index: 9;
    margin-left: 128px;
    margin-top: -50px;
    width: 50px;
    height: 50px;
}

@media (min-width: 992px) { 
    .batashp{
        max-width: 540px;
    }
    .imagebody{
        width: 518px;
        height: 154px;
        /* padding-left: 128px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 30px; */
    }
    .logokecil{
        width: 50px;
        height: 50px;
    }

}

@media (min-width: 1200px) { 
    .imagebody{
        width: 518px;
        height: 154px;
        padding-left: 128px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 40px;
    }

    .margin-slider{
        margin-left: 80px;
        margin-right: 80px;
    }

    .padding-slider{
    padding-top: 5px;
    padding-left: 30px;
    padding-bottom: 30px;
    }

    .kelurusan{
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
    }

    .pas{
        margin-left: 50px;
    }

    .btun1{
    margin-top: 60px;
    margin-left: 40px;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 1px;
    padding-bottom: 1px;
    }

    .btun1{
        left: 25px;
        position: relative ;
        padding-right: 100px;
        padding-left: 100px;
        padding-top: 1px;
        padding-bottom: 1px;
    }
}
